.benefits {
  padding-bottom: 131px;
}

.benefits__wrap {
  position: relative;
  max-width: 1262px;
  padding: 0 10px;
  padding-bottom: 100px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  padding: 93px 100px 88px 100px;
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefits__cards {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.benefits__card {
  max-width: 317px;
}

.benefitc__card-img {
  padding-bottom: 37px;
}

.benefits__card-thumb {
  display: block;
  width: 66px;
  height: 66px;
}

.benefits__card-title {
  padding-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}
.benefits__card-descr {
  max-width: 299px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.benefits__card-link {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 1.5;
  color: #006dfe;
  background: url("../../img/svg/arrow.svg") no-repeat 90% center;
}

.benefits__card-link:hover,
.benefits__card-link:focus {
  background: url("../../img/svg/arrow.svg") no-repeat right center;
}

@media screen and (max-width: 960px) {
  .benefits {
    padding-bottom: 20px;
  }

  .benefits__wrap {
    box-shadow: none;
  }

  .benefits__title {
    padding: 55px 10px;
  }

  .benefits__cards {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__wrap {
    padding-bottom: 40px;
  }

  .benefits__cards {
    flex-direction: column;
    align-items: center;
  }

  .benefits__card {
    padding-bottom: 30px;
  }

  .benefits__title {
    font-size: 26px;
    padding: 30px 10px;
  }

  .benefitc__card-img {
    padding-bottom: 20px;
  }

  .benefits__card-descr {
    padding-bottom: 20px;
  }
}
